/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300italic,300,400italic,600italic,700,700italic&subset=latin,latin-ext);
@import "../font-passioncomm/stylesheets/passioncomm.css";
@import "../font-awesome/less/font-awesome.less";

@import "bootstrap/less/mixins.less";
@import "elements.less";

@import "variables-mixins.less";
@import "tophead.less";
@import "menu.less";

.container {
	max-width: 921px;
}

* {
//	font-size: large;
	font-family: 'Open Sans', sans-serif;
}

@pageBackground: lighten(@passionOranzova, 35%); 

body {
	background-color: @pageBackground;
}

.row-margin {
	margin-bottom: @rowSpacing;
}



@shadowHeight: 31px;
@infoblockHeight: 272px;
@infoblockBottomMargin: 0;
@infoblockDoubleHeight: @infoblockHeight + @shadowHeight + @infoblockBottomMargin + @infoblockHeight;

.blog {
	.content-wrapper {
		padding-right: 100px;
	}
	
	.socialicons {
		text-align: left;
		
		&.outside {
			position: absolute;
			top: 120px;
			left: 5px;
			.social {
				display: block;
			}
		}
		
		
		
		.social {
			display: inline-block;
			width: 32px;
			height: 32px;
			margin: 0 5px 5px 5px ;
			span {
				display: none;
			}
			&.facebook { .retinaimg("social/facebook", 32px, 32px); }
			&.google { .retinaimg("social/google", 32px, 32px); }
			&.twitter { .retinaimg("social/twitter", 32px, 32px); }
			&.email { .retinaimg("social/email", 32px, 32px); }
			&.addthis { .retinaimg("social/addthis", 32px, 32px); }
		}
	}
}
.container.with-header {
	padding-left: 0;
	position: relative;
	left: -5px;
	
	.text-content {
		padding-right: 250px;
		.blog & { 
			padding-right: 0;
			
			p {
				&.lead { font-size: 20px; }
				font-size: 15px;
				a { 
					color: @passionOranzova; 
					&.inactive {
						color: #4d4d4d;
						text-decoration: underline; 
					}
				}
			}
						
			h2 { font-size: 20px; }
			h3 { font-size: 16px; }
			
			blockquote {
				border-left-color: @passionOranzova;
				font-style: italic;
				padding: 0 20px;	
			}
			
			.table {
				border-collapse: collapse;
				
				tr {
					border-spacing: 5px;
					border-bottom: 5px solid @pageBackground;
				}
				
				th {
					background-color: @passionOranzova;
				}
				td {
					background-color: white;
				}
			}
		}
		h1 {
			font-size: 22px;
			font-weight: 600;
		}
	}
	
	.gallery-row {
		img { 
			.img-responsive();
			.passion-rounded-border(); 
		}
	}
}


.breadcrumb {
	.back {
		display: inline-block;
		margin-right: 20px;
		a {
			padding-left: 5px;
			color: black;
			font-size: 24px;
			text-decoration: underline;
			font-weight: 300;
		}
	} 
	.path {
		display: inline-block;
		color: lighten(black, 30%);
		a {
			margin: 0 5px;
			display: inline-block;
			color: lighten(black, 30%);
			font-size: 20px;
			text-decoration: underline;
			font-weight: 300;
		}
	} 
}

.explore-more {
	background: #f2f2f2;
	padding: 30px 20px;
	h2 {
		font-size: 22px;
		font-weight: 600;
		margin-bottom: 50px;
	}
}

.explore-more-column {
	background: lighten(gray, 30%);
	padding: 10px 30px;
	text-align: center;
	h2 {
		font-size: 22px;
		font-weight: 600;
		margin-top: 10px;
		margin-bottom: 50px;
	}
	.info-block.text-leaf {
		margin-bottom: 30px;
	}
}

.image-leaf {
	.content {
		img {
			.passion-rounded-border();
		}
	}
	.shadow {
		@shadowHeight: 31px;
		height: @shadowHeight;
		.retinaimg ("shadow" , 228px , @shadowHeight);
		background-repeat: no-repeat;
		background-position: right top;
		margin-right: 12px;
	}		
}

.in-content-leaf {
	.orange-leaf {
		.content {
			&.active {
				color: @gradientColor;
				background: white;
				a {
					color: @gradientColor !important;
					background: white;
					
				}
			}
			
			text-align: center;
			&.text-left {
				text-align: left;
				
			}
			@gradientColor: #f17124;
			background-color: @gradientColor;
			#gradient > .radial (#F78D1E; @gradientColor);
			color: white;
			padding: 15px 20px 20px 20px;
			font-family: 'Open Sans', sans-serif;
	
			.passion-rounded-border ();
		
			font-size: 26px;
			a {
				color: white;
				text-decoration: none;
				font-size: 26px;
				&:hover {
					text-decoration: underline;
				}
				
				i {
					margin-left: 10px;
				}
			}
			
			h1 { font-size: 28px; }
			.author {
				font-size: 20px;
			}
		}
	
		.shadow {
			@shadowHeight: 31px;
			height: @shadowHeight;
			.retinaimg ("shadow" , 228px , @shadowHeight);
			background-repeat: no-repeat;
			background-position: right top;
			margin-right: 12px;
		}
	}
}

.info-block {
	position: relative;
	
	.play-button {
		position: absolute;
		top: 40px;
		left: 0;
		right: 0;
		
		a { 
			outline: 0;
			color: white;
			&.invert { color: black; }
			 
			i { font-size: 72px; }
			&:hover {
				color: darken(white, 30%); 
			}
		}
	}
	
	&.text-leaf.header {
		height: 531px;
	}
	
	.orange-leaf-topshadow {
		@shadowHeight: 10px;
		.retinaimg ("shadow-top" , 19px , @shadowHeight);
		background-position: top left;
		background-repeat: no-repeat;
		padding-top: @shadowHeight;
		
		position: absolute;
		bottom: 30px;
		left: -19px;
		
		.orange-leaf {
			.wrapper {
				margin: 0 60px;
			}
			position: relative !important;
			text-align: left;
			.content {
				display: inline-block;
				.passion-rounded-border-on-header();
			}
			.shadow {
			}
		}
	}
	
	.orange-leaf {
		.content {
			&.active {
				color: @gradientColor;
				background: white;
				a {
					color: @gradientColor !important;
					background: white;
					
				}
			}
			
			&.standout {
				padding: 25px 20px 20px 25px;
				h2 {
					font-size: 28px;
				}
				.author {
					font-size: 22px;
				}
			}
			
			
			text-align: left;
			@gradientColor: #f17124;
			//IE fallback
			background-color: @gradientColor;
			#gradient > .radial (#F78D1E; @gradientColor);
			color: white;
			padding: 15px 20px 20px 20px;
			font-family: 'Open Sans', sans-serif;

			.passion-rounded-border ();
		
			h2 {
				margin: 0;
				font-weight: 600;
				font-size: 17px;
				&.standout {
					font-size: 24px;
				}
			}

			.author {
				margin-bottom: 3px;
				font-size: 16px;
				em {
					font-size: 14px;
				}
			}

			a {
				color: white;
				text-decoration: underline;
				font-size: 14px;
				i {
					margin-left: 5px;
					font-size: 12px;
				}

				&:hover {
					text-decoration: none;
				}
			}
		}

		.shadow {
			@shadowHeight: 31px;
			height: @shadowHeight;
			.retinaimg ("shadow" , 228px , @shadowHeight);
			background-repeat: no-repeat;
			background-position: right top;
			margin-right: 12px;
		}
	}

	&.full-orange-leaf {
		.orange-leaf {
			.content {
				height: @infoblockHeight;
				padding: 35px 20px 0 20px;
				
				.quote {
					font-style: italic;
					font-weight: 300;
					line-height: 40px;
					margin-bottom: 30px;
					font-size: 24px;
					&.large {
						font-size: 18px;
						line-height: 20px;
					}
				}
	
				p {
					font-size: 11px;
					text-align: right;
					.quote-author {
						&:before {
							content: "— ";
						}
	
						font-weight: 600;
						display: block;
						font-size: 13px;
					}
				}				
			}
		}
	}

	&.text-leaf {
		position: relative;
		text-align: center;
		height: @infoblockHeight;
		overflow: hidden;
		.passion-rounded-border ();
		img {
			.center-block ();
			.img-responsive ();
		}

		.orange-leaf {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 10px;
		}
	}
	
	&.header {
		overflow: visible;
	}

	&.double-height {
		height: @infoblockDoubleHeight;
	}
}

.loader {
	margin-top: 50px;
	padding: 20px;
	text-align: center;
}

footer {
	margin-top: 50px;
	height: 70px;
	background-color: #e6e6e6;
	text-align: center;
	line-height: 70px;
	font-family: 'Open Sans', sans-serif;
	a {
		color: @passionOranzova;
	}
}

@media (min-width:768px) and (max-width: 991px) {
	@shadowHeight: 31px;
	@infoblockHeight: 214px;
	@infoblockHeaderHeight: 423px;
	@infoblockBottomMargin: 0;
	@infoblockDoubleHeight: 460px;
	
	
	
	.container.info-blocks {
		
		&.with-header {
			left: 0;
		}
		
		.info-block {
			margin-bottom: @infoblockBottomMargin;
		
			.blog &.text-leaf {
				margin-bottom: 30px;	
			}	
			
			.play-button {
				top: 30px;
				a { 
					i { font-size: 48px; }
				}				
			}
			
			
			.orange-leaf {
				.content {
					h2 {
						margin: 0;
						font-size: 13px;
					}

					.author {
						font-size: 12px;
						margin-bottom: 3px;
						em {
							font-size: 10px;
						}
					}

					a {
						color: white;
						text-decoration: underline;
						font-size: 12px;
						i {
							margin-left: 2px;
							font-size: 10px;
						}

						&:hover {
							text-decoration: none;
						}
					}

					text-align: left;
					padding: 10px 15px;
				}
			}

			&.full-orange-leaf {
				.orange-leaf {
					.content {
						height: @infoblockHeight;
						padding-top: 20px;
						.quote {
							line-height: 25px;
							margin-bottom: 20px;
							font-size: 18px;
							&.large {
								font-size: 14px;
								line-height: 18px;
							}
						}
			
						p {
							font-size: 11px;
							text-align: right;
							.quote-author {
								&:before {
									content: "— ";
								}
			
								font-weight: 600;
								display: block;
								font-size: 10px;
							}
						}				
						
					}
				}
			}

			&.text-leaf {
				height: @infoblockHeight;
			}
			
			&.text-leaf.header {
				height: @infoblockHeaderHeight;
			}
			
			&.double-height {
				height: @infoblockDoubleHeight;
			}
			
			.col-lg-6 .info-block {
				.play-button {
					top: 30px;
				}
			}			
		}
	}
}

@media (max-width: 767px) {
	@shadowHeight: 31px;
	@infoblockHeight: 350px;
	@infoblockHeaderHeight: 250px;
	@infoblockBottomMargin: 30px;
	@infoblockDoubleHeight: 490px;
	
	@content-padding: 30px;
	
	@leafSpacing: 20px;
	
	
	.blog { 
		.content-wrapper {
			padding-right: 0;
		}
		.socialicons {
			padding-left: 20px;
		}
	}
	
	.container {
		&.with-header {
			.text-content {
				.blog & { 
					padding-right: 0;
					.wrapper {
						padding-right: 0;
					}
				}
			}
		}
	}
		
	.gallery-row {
		.col-sm-3 {
			text-align: center;
			a { display: inline-block; }
			margin-bottom: 10px;
		}
		img { 
			.img-responsive();
			.passion-rounded-border(); 
		}
		
		&.row-margin { margin: 0; }
	}

	.leaf-position() {
		position: absolute;
		bottom: @leafSpacing;
		left: @leafSpacing;
		right: @leafSpacing;
	}
		
	.explore-more { 
		h2 { padding-left: 15px; }	
	}
	
	
	.breadcrumb {
		padding: 0 @content-padding; 
		.path {
			display: block;
			margin: 10px 0 0 15px;
		} 
	}
	
	@inContentLeafLineHeight: 30px;
	
	.loader-row {
		height: @inContentLeafLineHeight * 2 + 20px;
	}
	
	.in-content-leaf {
		min-height: @inContentLeafLineHeight + 20px;
		
		.loader-row & {
			height: @inContentLeafLineHeight * 2 + 30px;
		}
		
		.orange-leaf {
			margin-left: @leafSpacing;
			margin-right: @leafSpacing;
		}
	}


	.container.info-blocks {
		padding: 0;
		
		&.with-header {
			
			left: 0;
			
			& > .padding20-left {
				padding: 0;
			}
			
			.text-content {
				padding: 0 @content-padding;
			}
		}
		
		.info-block {
			.center-block ();
			max-width: 420px;
			margin-bottom: @infoblockBottomMargin;
			
			.play-button {
				top: 80px;
			}
			
			&.text-leaf {
				height: @infoblockHeight;
				.border-radius ();
				.orange-leaf {
					position: absolute;
					bottom: @leafSpacing;
					left: @leafSpacing;
					right: @leafSpacing;
				}
			}
			
			.orange-leaf-topshadow {

				padding-top: 0;
				.leaf-position();
				background: none;
				.orange-leaf {
					position: relative !important;
					top:0; right: 0; bottom: 0; left: 0;
					.content {
						display: block;
					}
					.wrapper {
						margin: 0;
					}
				}
			}			
			

			.shadow {
				display: none;
			}

			&.full-orange-leaf {
				.content {
					height: 240px;
					.border-radius ();
					text-align: center;
					p {
						text-align: center;
					}
				}
			}

			

			&.header{
				height: @infoblockHeaderHeight;
				margin-bottom: 0;
			}

			&.double-height {
				height: @infoblockDoubleHeight;
			}
		}
		
		.col-lg-6 .info-block {
			height: 240px;
			.play-button {
				top: 30px;
			}
		}
	}
		
	footer {
		@height: 140px;
		@line-height: 35px;
		height: @height;
		line-height: @line-height;
		.container {
			.visible-xs { display: inline !important; }
			padding-top: (@height - 2  * @line-height) / 2;
		}
			
	}	
}

