/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "variables-mixins.less";

.navbar-passion {
	
	@linkLineHeight: 25px;
	
	border: 0;
	background: white;
	font-family: 'Open Sans', sans-serif;
	.main-menu {
		.navbar-nav {
			& > li {
				& > a {
					@menuLinkPadding: 35px;
					padding-left: @menuLinkPadding;
					padding-right: @menuLinkPadding;
					text-align: center;
					color: @passionOranzova;
					line-height: @linkLineHeight;
					
					.badge {
						vertical-align: middle;
						padding: 3px 5px;
						border: solid 1px white;
						background: black;
						color: white;
						.rounded (15px);
						.drop-shadow (2px , 2px , 1px , 0.2);
						font-size: 12px;
					}
				}
	
				&:hover, &:focus {
					border-bottom: solid 2px @pozadiMenu;
				}
				
				&.active {
					border-bottom: solid 2px black;
				}
			}
		}
	}

	.navbar-header {
		background: white;
		
		.navbar-toggle {
			margin-top: -6px;
			padding: 15px 9px 3px 9px;
			background-color: @pozadiMenu;
			.border-radius (0 , 10px , 0 , 0);
			.icon-bar { display: none; }

			i { color: @passionOranzova;}

			&:hover {
				i { color: darken(@passionOranzova, 10%); }
			}
		}

		.navbar-toggle.collapsed {
			margin-top: 12px;
			background-color: white;
			padding: inherit;
			.border-radius ();
			.icon-bar {
				background-color: black;
				display: block;
			}

			i { display: none; }
		}

		//styl jazyku
		.languages {
			& > li.active > a {
				color: black;
			}			
			margin: 0 0 0 12px;
			a {
				margin-top: 0;
				display: inline-block;
				line-height: @linkLineHeight;
				float: left;
				height: auto;
				font-size: 18px;
				padding: 15px 0;
				color: black;
				&.active , &:hover , &:focus {
					text-decoration: none;
					font-weight: bold;
					border-bottom: solid 2px @pozadiMenu;
				}

				span { padding: 0 15px; }

				&.cz {
					span { border-right: solid 1px @pozadiMenu; }
				}
			}

			.navbar-brand {
			}
		}
	}
}

@media (max-width: @passion-screen-tablet-max) {
	@menuLinkPadding: 20px;
	.navbar-passion {
			.main-menu {
				.navbar-nav {
					& > li {
						& > a {
							padding-left: @menuLinkPadding;
							padding-right: @menuLinkPadding;
						}
					}
				}
			}
		}
}

@media (max-width: @passion-screen-phone-max) {
	.languages-nav {
		display: none !important;
	}
	body {
		padding-top: 42px !important;
	}
	
	.navbar-passion {
		background: @pozadiMenu;
		min-height: 42px;
		.main-menu {
			.navbar-nav {
				& > li {
					border-bottom: none;
					& > a {
						padding-top: 5px;
						padding-bottom: 5px;
					}
					&.active, &:hover, &:focus {
						border-bottom: none;
						a {
							color: black;
						}
					}
				}
			}
		}
		
		.navbar-header {
			.languages {
				margin: 0 0 0 11px;
				a { 
					padding: 9px 0 5px 0;
					font-size: 15px; 

					span {
						padding: 0 7px; 
					}
				}
			}
		}
		
	}
}

