/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/********* margin *********/
/* line 58, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000358}}
.margin0 {
  margin: 0px;
}
/* line 59, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000359}}
.margin0-bottom {
  margin-bottom: 0px;
}
/* line 60, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000360}}
.margin0-left {
  margin-left: 0px;
}
/* line 61, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000361}}
.margin0-right {
  margin-right: 0px;
}
/* line 62, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000362}}
.margin0-top {
  margin-top: 0px;
}
/* line 64, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000364}}
.margin5 {
  margin: 5px;
}
/* line 65, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000365}}
.margin5-bottom {
  margin-bottom: 5px;
}
/* line 66, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000366}}
.margin5-left {
  margin-left: 5px;
}
/* line 67, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000367}}
.margin5-right {
  margin-right: 5px;
}
/* line 68, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000368}}
.margin5-top {
  margin-top: 5px;
}
/* line 70, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000370}}
.margin10 {
  margin: 10px;
}
/* line 71, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000371}}
.margin10-bottom {
  margin-bottom: 10px;
}
/* line 72, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000372}}
.margin10-left {
  margin-left: 10px;
}
/* line 73, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000373}}
.margin10-right {
  margin-right: 10px;
}
/* line 74, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000374}}
.margin10-top {
  margin-top: 10px;
}
/* line 76, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000376}}
.margin15 {
  margin: 15px;
}
/* line 77, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000377}}
.margin15-bottom {
  margin-bottom: 15px;
}
/* line 78, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000378}}
.margin15-left {
  margin-left: 15px;
}
/* line 79, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000379}}
.margin15-right {
  margin-right: 15px;
}
/* line 80, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000380}}
.margin15-top {
  margin-top: 15px;
}
/* line 82, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000382}}
.margin20 {
  margin: 20px;
}
/* line 83, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000383}}
.margin20-bottom {
  margin-bottom: 20px;
}
/* line 84, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000384}}
.margin20-left {
  margin-left: 20px;
}
/* line 85, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000385}}
.margin20-right {
  margin-right: 20px;
}
/* line 86, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000386}}
.margin20-top {
  margin-top: 20px;
}
/* line 88, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000388}}
.margin30 {
  margin: 30px;
}
/* line 89, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000389}}
.margin30-bottom {
  margin-bottom: 30px;
}
/* line 90, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000390}}
.margin30-left {
  margin-left: 30px;
}
/* line 91, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000391}}
.margin30-right {
  margin-right: 30px;
}
/* line 92, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000392}}
.margin30-top {
  margin-top: 30px;
}
/********* padding *********/
/* line 97, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000397}}
.padding5 {
  padding: 5px;
}
/* line 98, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000398}}
.padding5-bottom {
  padding-bottom: 5px;
}
/* line 99, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000399}}
.padding5-left {
  padding-left: 5px;
}
/* line 100, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003100}}
.padding5-right {
  padding-right: 5px;
}
/* line 101, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003101}}
.padding5-top {
  padding-top: 5px;
}
/* line 103, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003103}}
.padding10 {
  padding: 10px;
}
/* line 104, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003104}}
.padding10-bottom {
  padding-bottom: 10px;
}
/* line 105, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003105}}
.padding10-left {
  padding-left: 10px;
}
/* line 106, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003106}}
.padding10-right {
  padding-right: 10px;
}
/* line 107, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003107}}
.padding10-top {
  padding-top: 10px;
}
/* line 109, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003109}}
.padding15 {
  padding: 15px;
}
/* line 110, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003110}}
.padding15-bottom {
  padding-bottom: 15px;
}
/* line 111, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003111}}
.padding15-left {
  padding-left: 15px;
}
/* line 112, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003112}}
.padding15-right {
  padding-right: 15px;
}
/* line 113, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003113}}
.padding15-top {
  padding-top: 15px;
}
/* line 115, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003115}}
.padding20 {
  padding: 20px;
}
/* line 116, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003116}}
.padding20-bottom {
  padding-bottom: 20px;
}
/* line 117, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003117}}
.padding20-left {
  padding-left: 20px;
}
/* line 118, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003118}}
.padding20-right {
  padding-right: 20px;
}
/* line 119, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003119}}
.padding20-top {
  padding-top: 20px;
}
/* line 121, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003121}}
.padding30 {
  padding: 30px;
}
/* line 122, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003122}}
.padding30-bottom {
  padding-bottom: 30px;
}
/* line 123, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003123}}
.padding30-left {
  padding-left: 30px;
}
/* line 124, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003124}}
.padding30-right {
  padding-right: 30px;
}
/* line 125, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003125}}
.padding30-top {
  padding-top: 30px;
}
/* line 127, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003127}}
.padding35 {
  padding: 35px;
}
/* line 128, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003128}}
.padding35-bottom {
  padding-bottom: 35px;
}
/* line 129, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003129}}
.padding35-left {
  padding-left: 35px;
}
/* line 130, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003130}}
.padding35-right {
  padding-right: 35px;
}
/* line 131, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003131}}
.padding35-top {
  padding-top: 35px;
}
/********* border *********/
/* line 135, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003135}}
.border1,
.border1-left,
.border1-right,
.border1-top,
.border1-bottom,
.border2,
.border2-left,
.border2-right,
.border2-top,
.border2-bottom,
.border3,
.border3-left,
.border3-right,
.border3-top,
.border3-bottom {
  border-color: black;
  border-style: solid;
  border-width: 0;
}
/* line 144, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003144}}
.border1 {
  border-width: 1px;
}
/* line 145, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003145}}
.border1-left {
  border-left-width: 1px;
}
/* line 146, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003146}}
.border1-right {
  border-right-width: 1px;
}
/* line 147, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003147}}
.border1-top {
  border-top-width: 1px;
}
/* line 148, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003148}}
.border1-bottom {
  border-bottom-width: 1px;
}
/* line 150, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003150}}
.border2 {
  border-width: 2px;
}
/* line 151, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003151}}
.border2-left {
  border-left-width: 2px;
}
/* line 152, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003152}}
.border2-right {
  border-right-width: 2px;
}
/* line 153, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003153}}
.border2-top {
  border-top-width: 2px;
}
/* line 154, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003154}}
.border2-bottom {
  border-bottom-width: 2px;
}
/* line 156, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003156}}
.border3 {
  border-width: 3px;
}
/* line 157, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003157}}
.border3-left {
  border-left-width: 3px;
}
/* line 158, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003158}}
.border3-right {
  border-right-width: 3px;
}
/* line 159, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003159}}
.border3-top {
  border-top-width: 3px;
}
/* line 160, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003160}}
.border3-bottom {
  border-bottom-width: 3px;
}
/* line 6, /data/www/cz.passioncomm.yeti/css/tophead.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/tophead\.less}line{font-family:\000036}}
.tophead {
  background-image: url("img/tophead.png");
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 30px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 366, /data/www/cz.passioncomm.yeti/css/bootstrap/less/mixins.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/bootstrap\/less\/mixins\.less}line{font-family:\00003366}}
  .tophead {
    background-image: url("img/tophead@2x.png");
    background-size: auto 160px;
  }
}
/* line 13, /data/www/cz.passioncomm.yeti/css/tophead.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/tophead\.less}line{font-family:\0000313}}
.tophead .container {
  height: 160px;
}
/* line 18, /data/www/cz.passioncomm.yeti/css/tophead.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/tophead\.less}line{font-family:\0000318}}
.tophead .container .logo {
  background-image: url("img/logo.png");
  height: 100px;
  margin-top: 30px;
  background-repeat: no-repeat;
  background-position: left center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 366, /data/www/cz.passioncomm.yeti/css/bootstrap/less/mixins.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/bootstrap\/less\/mixins\.less}line{font-family:\00003366}}
  .tophead .container .logo {
    background-image: url("img/logo@2x.png");
    background-size: 220px 100px;
  }
}
/* line 26, /data/www/cz.passioncomm.yeti/css/tophead.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/tophead\.less}line{font-family:\0000326}}
.tophead .container .slogan {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 25px;
  font-weight: 300;
  line-height: 40px;
  margin-top: 40px;
}
/* line 35, /data/www/cz.passioncomm.yeti/css/tophead.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/tophead\.less}line{font-family:\0000335}}
.tophead .container .col-xs-1 {
  padding: 0;
}
/* line 36, /data/www/cz.passioncomm.yeti/css/tophead.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/tophead\.less}line{font-family:\0000336}}
.tophead .container .arrow {
  display: block;
}
/* line 38, /data/www/cz.passioncomm.yeti/css/tophead.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/tophead\.less}line{font-family:\0000338}}
.tophead .container .arrow a {
  text-align: center;
  font-size: 25px;
  color: white;
  display: block;
  height: 160px;
  line-height: 160px;
}
/* line 45, /data/www/cz.passioncomm.yeti/css/tophead.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/tophead\.less}line{font-family:\0000345}}
.tophead .container .arrow a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 699px) {
  /* line 55, /data/www/cz.passioncomm.yeti/css/tophead.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/tophead\.less}line{font-family:\0000355}}
  .hidden-xs {
    display: none;
  }
  /* line 58, /data/www/cz.passioncomm.yeti/css/tophead.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/tophead\.less}line{font-family:\0000358}}
  .visible-xs {
    display: block;
  }
  /* line 63, /data/www/cz.passioncomm.yeti/css/tophead.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/tophead\.less}line{font-family:\0000363}}
  .tophead .container .logo {
    background-position: center;
  }
}
