/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/********* margin *********/
/* line 42, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000342}}
.margin0 {
  margin: 0px;
}
/* line 43, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000343}}
.margin0-bottom {
  margin-bottom: 0px;
}
/* line 44, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000344}}
.margin0-left {
  margin-left: 0px;
}
/* line 45, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000345}}
.margin0-right {
  margin-right: 0px;
}
/* line 46, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000346}}
.margin0-top {
  margin-top: 0px;
}
/* line 48, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000348}}
.margin5 {
  margin: 5px;
}
/* line 49, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000349}}
.margin5-bottom {
  margin-bottom: 5px;
}
/* line 50, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000350}}
.margin5-left {
  margin-left: 5px;
}
/* line 51, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000351}}
.margin5-right {
  margin-right: 5px;
}
/* line 52, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000352}}
.margin5-top {
  margin-top: 5px;
}
/* line 54, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000354}}
.margin10 {
  margin: 10px;
}
/* line 55, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000355}}
.margin10-bottom {
  margin-bottom: 10px;
}
/* line 56, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000356}}
.margin10-left {
  margin-left: 10px;
}
/* line 57, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000357}}
.margin10-right {
  margin-right: 10px;
}
/* line 58, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000358}}
.margin10-top {
  margin-top: 10px;
}
/* line 60, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000360}}
.margin15 {
  margin: 15px;
}
/* line 61, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000361}}
.margin15-bottom {
  margin-bottom: 15px;
}
/* line 62, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000362}}
.margin15-left {
  margin-left: 15px;
}
/* line 63, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000363}}
.margin15-right {
  margin-right: 15px;
}
/* line 64, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000364}}
.margin15-top {
  margin-top: 15px;
}
/* line 66, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000366}}
.margin20 {
  margin: 20px;
}
/* line 67, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000367}}
.margin20-bottom {
  margin-bottom: 20px;
}
/* line 68, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000368}}
.margin20-left {
  margin-left: 20px;
}
/* line 69, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000369}}
.margin20-right {
  margin-right: 20px;
}
/* line 70, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000370}}
.margin20-top {
  margin-top: 20px;
}
/* line 72, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000372}}
.margin30 {
  margin: 30px;
}
/* line 73, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000373}}
.margin30-bottom {
  margin-bottom: 30px;
}
/* line 74, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000374}}
.margin30-left {
  margin-left: 30px;
}
/* line 75, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000375}}
.margin30-right {
  margin-right: 30px;
}
/* line 76, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000376}}
.margin30-top {
  margin-top: 30px;
}
/********* padding *********/
/* line 81, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000381}}
.padding5 {
  padding: 5px;
}
/* line 82, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000382}}
.padding5-bottom {
  padding-bottom: 5px;
}
/* line 83, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000383}}
.padding5-left {
  padding-left: 5px;
}
/* line 84, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000384}}
.padding5-right {
  padding-right: 5px;
}
/* line 85, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000385}}
.padding5-top {
  padding-top: 5px;
}
/* line 87, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000387}}
.padding10 {
  padding: 10px;
}
/* line 88, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000388}}
.padding10-bottom {
  padding-bottom: 10px;
}
/* line 89, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000389}}
.padding10-left {
  padding-left: 10px;
}
/* line 90, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000390}}
.padding10-right {
  padding-right: 10px;
}
/* line 91, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000391}}
.padding10-top {
  padding-top: 10px;
}
/* line 93, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000393}}
.padding15 {
  padding: 15px;
}
/* line 94, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000394}}
.padding15-bottom {
  padding-bottom: 15px;
}
/* line 95, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000395}}
.padding15-left {
  padding-left: 15px;
}
/* line 96, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000396}}
.padding15-right {
  padding-right: 15px;
}
/* line 97, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000397}}
.padding15-top {
  padding-top: 15px;
}
/* line 99, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\0000399}}
.padding20 {
  padding: 20px;
}
/* line 100, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003100}}
.padding20-bottom {
  padding-bottom: 20px;
}
/* line 101, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003101}}
.padding20-left {
  padding-left: 20px;
}
/* line 102, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003102}}
.padding20-right {
  padding-right: 20px;
}
/* line 103, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003103}}
.padding20-top {
  padding-top: 20px;
}
/* line 105, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003105}}
.padding30 {
  padding: 30px;
}
/* line 106, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003106}}
.padding30-bottom {
  padding-bottom: 30px;
}
/* line 107, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003107}}
.padding30-left {
  padding-left: 30px;
}
/* line 108, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003108}}
.padding30-right {
  padding-right: 30px;
}
/* line 109, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003109}}
.padding30-top {
  padding-top: 30px;
}
/* line 111, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003111}}
.padding35 {
  padding: 35px;
}
/* line 112, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003112}}
.padding35-bottom {
  padding-bottom: 35px;
}
/* line 113, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003113}}
.padding35-left {
  padding-left: 35px;
}
/* line 114, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003114}}
.padding35-right {
  padding-right: 35px;
}
/* line 115, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003115}}
.padding35-top {
  padding-top: 35px;
}
/********* border *********/
/* line 119, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003119}}
.border1,
.border1-left,
.border1-right,
.border1-top,
.border1-bottom,
.border2,
.border2-left,
.border2-right,
.border2-top,
.border2-bottom,
.border3,
.border3-left,
.border3-right,
.border3-top,
.border3-bottom {
  border-color: black;
  border-style: solid;
  border-width: 0;
}
/* line 128, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003128}}
.border1 {
  border-width: 1px;
}
/* line 129, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003129}}
.border1-left {
  border-left-width: 1px;
}
/* line 130, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003130}}
.border1-right {
  border-right-width: 1px;
}
/* line 131, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003131}}
.border1-top {
  border-top-width: 1px;
}
/* line 132, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003132}}
.border1-bottom {
  border-bottom-width: 1px;
}
/* line 134, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003134}}
.border2 {
  border-width: 2px;
}
/* line 135, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003135}}
.border2-left {
  border-left-width: 2px;
}
/* line 136, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003136}}
.border2-right {
  border-right-width: 2px;
}
/* line 137, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003137}}
.border2-top {
  border-top-width: 2px;
}
/* line 138, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003138}}
.border2-bottom {
  border-bottom-width: 2px;
}
/* line 140, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003140}}
.border3 {
  border-width: 3px;
}
/* line 141, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003141}}
.border3-left {
  border-left-width: 3px;
}
/* line 142, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003142}}
.border3-right {
  border-right-width: 3px;
}
/* line 143, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003143}}
.border3-top {
  border-top-width: 3px;
}
/* line 144, /data/www/cz.passioncomm.yeti/css/variables-mixins.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www\/cz\.passioncomm\.yeti\/css\/variables-mixins\.less}line{font-family:\00003144}}
.border3-bottom {
  border-bottom-width: 3px;
}
